@if (language === 'de') {
    <h2 class="mb-4"><a href="https://ascyt.com/NotFound">oida, duad ma lad, owa des gibt's nu leida nua auf englisch :(</a></h2>
}
@else {
    <h2>200 - Page Found</h2>
    <p>The requested page could be found.</p>
    <p>Click <a class="link" (click)="blurClick($event)" [style]="'filter: blur(' + blur.toString() + 'px);'">{{hereTexts[hereIndex]}}</a> to go back to the home page<span *ngIf="!showDot">.</span><span class="link" *ngIf="showDot" (click)="downloadFile()">.</span></p>
}