@if (language === 'de') {
    <p class="note mt-4">
        Hinweis: Dieser Artikel ist momentan nur auf Englisch verfügbar.
    </p>
}

<h2 class="mb-2">Human Wings</h2>

<p>
    It's a simple enough idea, I know. You stick limbs of a bird on a dude's back and expect him to be able to fly. In folklore, mythology, religion and more, the concept of "winged humanoids" is a tale as old as time. But, what if I told you that, there's actually more to it than meets the eye? This surprisingly simple and well-known concept comes with a lot of interesting science and hypothetical ideas if you're willing to look deep enough. In this blog post I want to start by highlighting the basics, where this idea even comes from, what makes it so interesting, the shape and general looks of human wings, whether or not they even make sense, evolutionary aspects, what a "winged society" might look like, and much more. While I'll try my best to keep it technical, keep in mind that a little bit of speculation will be unavoidable, especially during the later parts of this post. 
</p>

<p class="note">
Note: This blog post has been written <strong>without</strong> the use of generative AI. 
</p>

<p class="notice">
    {{metaInfo}}
</p>

<p class="notice">
    Consider the main written content of this article to be licensed under <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en" target="_blank" ngbTooltip="https://creativecommons.org/licenses/by-sa/4.0/deed.en"><strong>CC BY-SA 4.0</strong></a> (i.e. include this license and a link to this article if you want to redistribute it). <br />
    The license information below applies to the <strong>source code</strong> of my website only, not the written content of this article. 
</p>