.navbar {
    display: flex;
    align-items: center;

    background-color: var(--back-high);
    color: var(--front);
    box-shadow: 0 0 10px var(--back-high);
    margin-bottom: 20px;

    transition: 0.2s;
}

.navbar-nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.nav-link,.nav-link-sub {
    &::after {
        display: none;
    }

    color: var(--front-low);
    transition: 0.2s;

    padding: 0 !important;
    text-decoration: none;

    &::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 1px;
        background-color: var(--mid);
        transition: width 0.3s;
    }
}

.nav-link:hover,.nav-link-sub:hover {
    color: var(--mid);
    transition: 0.2s;

    &::after {
        width: 100%; 
    }
}


.nav-link.active,.nav-link-sub.active {
    color: var(--front);

    text-decoration-color: var(--front);

    text-shadow:
        -1px -1px 10px var(--link-transparent),
        1px -1px 10px var(--link-transparent),
        -1px 1px 10px var(--link-transparent),
        1px 1px 10px var(--link-transparent);

    transition: 0.2s;

    &::after {
        width: 100%;
        background-color: var(--front);
    }
}

.nav-link.active:hover,.nav-link-sub.active:hover {
    color: var(--front);
    transition: 0.2s;
}

.nav-link-sub-seperator {
    padding: 0 10px;
    color: var(--back-low);
}

.nav-item {
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin: 0;
    transition: 0.2s;
}
.nav-item.active {
    margin: 0 20px;
    transition: 0.2s;

    &>.nav-link,.nav-link-sub {
        color: var(--front);
        transition: 0.2s;
    }
}

.logo {
    &::after {
        display: none;
    }

    img {
        border-radius: 100%;
        transition: 0.3s;
        width: 50px;
        height: 50px;
    }
}

.logo:hover {
    img {
        transition: 0.2s;
        transform: rotate(10deg) scale(1.25);
        filter: brightness(0.75);
    }
}
