<h2 class="mb-4">Simulating 4D - What a Four-Dimensional World Actually Looks Like</h2>

<p> 
    When you hear about 4D, what's the first thing that springs to mind? Is it a type of movie that utilizes physical factors such as motion, vibration or wind increase immersion in the cinema? Is it a proprietary piece of software used to create three-dimensional media? Or is it the idea that 3-dimensional space and 1-dimensional time are a single thing, creating a 4-dimensional fabric of reality?
</p>
<p>
    The truth is that all of these ideas about four dimensions aren't inheritenly wrong. This is because the definition of the word "dimension" is essentially as vague as it can get. It gets used as a fancy term all over the place for the most random of things, which I personally find to be quite frustrating, as it creates a lot of confusion about what 4-dimensional space actually is. 
</p> 
<p>
   I want to make it clear that this is not going to be about any of that nonsense. The entirety of this article is based solely on four-dimensional <strong>space</strong>, which, while it may be purely theoretical, I believe knowing about what it is, what it means and how one could think about it, can go a long way in altering one's perception of the world we live and the countless of hypothetical others in a truly beautiful way. 
</p>
