.x {
    color: #ff0000;
}
.y {
    color: #00ff00;
}
.z {
    color: #0080ff;
}
.w {
    color: #ffff00;
}

.note {
    font-style: italic;
    margin-left: 20px;
    color: var(--front-mid)
}

.hoverable {
    text-decoration: underline dotted 1px var(--front-mid) !important;
}