.language-switcher {
    a {
        position: relative;
        display: inline-block;
        margin: 0 16px;
        padding: 0;
        vertical-align: middle;
        img {
            width: 36px;
            height: auto;
            cursor: pointer;
            margin: 0;
            transition: 0.2s;
            display: block;
            border-radius: 10%;
            opacity: 0.5;
        }
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: var(--link);
            opacity: 0; // not sure about this, set to 1 to enable
            mix-blend-mode: color;
            pointer-events: none;
            z-index: 1;
            border-radius: 10%;

            transition: 0.2s;
        }
        &:hover {
            img {
                transform: scale(1.25);
                opacity: 1;
            }
            &::after {
                opacity: 0;
            }
        }
    }
}