.theme-switcher {
    img {
        border-radius: 100%;
        transition: 0.3s;
        width: 36px;
        height: 36px;
        
        transition: 0.3s;
    }
    
    &:hover {
        img {
            transform: scale(1.25);
            filter: brightness(0.75);

            &.light-theme {
                filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.5)) brightness(0.75);
            }
            
            transition: 0.2s;
        }
    }
}

img.light-theme {
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.5))
}